################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AroxInstaller/obj
/AroxInstaller/bin/Debug/net6.0/temp
/AroxInstaller/bin/Debug/net6.0
